<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>

  </div>

</body>

</html>

<style>
  .container {
    overflow-x: scroll;
    width: 600px;
    height: 400px;
    background: pink;
    white-space: nowrap;
  }

  .box {
    background: burlywood;
    display: inline-block;
    width: 200px;
    height: 200px;
  }
</style>